@{
    ViewData["Title"] = "Home Page";
}


<div>

    <form name="reg" method="post" action="http://localhost:5160/Home/to_register">
        <button type="submit">Регистрация</button>
    </form>

    <form name="login" method="post" action="http://localhost:5160/Home/to_login">
        <button type="submit">Логин</button>
    </form>

</div>